@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  direction: rtl;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../public/images/bg.webp) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

section .container {
  width: 100%;
  max-width: 650px;
  background: #332a224e;
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
}

section .top_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
}

section .top_sec select {
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  outline: none;
  background: #a54f3a;
  padding: 6px 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: 22px;
  color: #fff;
}

section .top_sec .date {
  width: 100%;
  max-width: 250px;
}

section .top_sec .date h4 {
  font-size: 22px;
  color: #fff;
}

section .prayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #c0583e75;
  margin-bottom: 20px;
  color: #fff;
  font-size: 22px;
  border-radius: 6px;
  border-bottom: 1px solid #d7d7d74e;
  flex-wrap: wrap;
}


@media (max-width: 500px) {
  section .top_sec {
    flex-direction: column;
    align-items: flex-start;
  }

  section .top_sec select,
  section .top_sec .date {
    width: 100%;
  }

  section .top_sec h3,
  section .top_sec .date h4 {
    font-size: 20px;
  }

  section .prayer {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
}
